INCLUDE("syssvc/syslog.cfg");
INCLUDE("syssvc/banner.cfg");
INCLUDE("syssvc/serial.cfg");
INCLUDE("syssvc/logtask.cfg");

#include "phase6_smp_app.h"

CLASS(CLS_PRC1) {
    CRE_TSK(ARDUINO_TASK, {
        TA_ACT | TA_FPU,
        0,
        toppers_arduino_task,
        ARDUINO_TASK_PRIORITY,
        ARDUINO_TASK_STACK_SIZE,
        NULL
    });
}
