INCLUDE("syssvc/syslog.cfg");
INCLUDE("syssvc/banner.cfg");
INCLUDE("syssvc/serial.cfg");
INCLUDE("syssvc/logtask.cfg");

/*  attachInterrupt 用の CFG_INT / ENA_DYNISR / AID_ISR。 */
INCLUDE("arduino_interrupt.cfg");
INCLUDE("esp_shim.cfg");
INCLUDE("bt.cfg");

#include "bt_classic_app.h"

CLASS(CLS_PRC1) {
    CRE_TSK(ARDUINO_TASK, {
        TA_ACT | TA_FPU,
        0,
        toppers_arduino_task,
        ARDUINO_TASK_PRIORITY,
        ARDUINO_TASK_STACK_SIZE,
        NULL
    });
}
